<!DOCTYPE html>
<html>
<head data-hook="inside_head">
  <meta charset="utf-8">
  <title>RedSys Integration</title>
  <%= csrf_meta_tags %>
  <%= yield :head%>
</head>
<body>

<%= yield %>

</body>
</html>
